<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLDBCz2rICiVTKBbkc4u9fkA6EP3TMlKw</string>
	<key>GCM_SENDER_ID</key>
	<string>784514615175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iotaquarium.iotAquarium</string>
	<key>PROJECT_ID</key>
	<string>firesp32-e32221274</string>
	<key>STORAGE_BUCKET</key>
	<string>firesp32-e32221274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784514615175:ios:37856ae844720aa2de3522</string>
	<key>DATABASE_URL</key>
	<string>https://firesp32-e32221274-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>